repos:
  - repo: local
    hooks:
      - id: format
        name: Enforce code formatting (just format)
        entry: just format
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
